<div id="content" style="padding-top: 20px;">
    <h2>About me</h2>
    <img style="padding-left: 40%" src="Assets\images\MyImg.jpg" />
    <table>
        <tr> 
            <td>Name: </td>
            <td>Hetu Shiroya<br></td>
        </tr>
        <tr> 
            <td>About me: </td>
            <td>
              <p> My name is Hetu Shiroya. I completed Bachelore degree in Information Technology from India. 
              Currently, pursuing Post Graduate Diploma course form Centennial College in Software engineering Technicain.
              My interest is in playing outdoor sports and reading books.</p>
            </td>
        </tr>
        <tr> 
            <td>Resume: </td>
            <td><a href="Assets\images\Resume.pdf">Click Here</a></td>
        </tr>
    </table>
</div>