<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark text-center"  style="background-color: #e9eff3 ">
      <div class= "text-center">
      <p class="display-6 navbar-text text-center"  style="color: black;">&copy; Copyright 2020. All Rights reserved.</p>
   </div>
    </nav>
  </footer>