
    <div id="content" style="padding: 20px;">
        <h2>Projects</h2>
        <table>
            <tr style="padding-bottom: 10px;">
                <td><img src="\Assets\images\project1.jpg" height="100px" ></td>
                <td>
                    <strong>Back to Village</strong><br>
                    This is a website for people who wants to donate or contribute to develope their village.
                    <br>
                    Role: Devleoper
                </td>
            </tr>
            <tr>
                <td><img src="\Assets\images\project2.jpg" height="100px"></td>
                <td>
                    <strong>Women Empowerment</strong><br>
                    This is an andorid application to encourage and motivate woman to particiapte in social activities.
                    <br>
                    Role: Developer
                </td>
            </tr>
            <tr>
                <td><img src="\Assets\images\project3.jpg" height="100px"></td>
                <td>
                    <strong>Blood Bank</strong><br>
                    Build an application to get blood easily in emergency situation.
                    <br>
                    Role: Design, Develop
                </td>
            </tr>
        </table>
    </div>